<h1>Página principal</h1>

<%= link_to "Single Player", games_new_path(mode: "singleplayer"), class: "mode_selector" %>
<%= link_to "Local Multiplayer", games_new_path(mode: "multiplayer"), class: "mode_selector" %>
